html, body {
  margin: 0;
  margin-left: 2em;
  margin-right: 2em;
}

/* latin */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cousine Regular'), local('Cousine-Regular'), url(https://fonts.gstatic.com/s/cousine/v14/d6lIkaiiRdih4SpP_SQvzA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Cousine Bold'), local('Cousine-Bold'), url(https://fonts.gstatic.com/s/cousine/v14/d6lNkaiiRdih4SpP9Z8K2TnM0g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


title
{
text-decoration:none;
}

footer{
  font-family: 'Cousine';
  font-size: 75%;
  text-align: Center;
  margin-top: 2em;
  margin-bottom: 2em;
}


h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  margin-top: 0;
  padding-top: 30px;
}
h1 a
{
text-decoration: none;
color:black;
font-weight: regular;
}
h1 a:hover
{
  color: #BEBEBE
}
h2
{
font-family: 'Cousine';
text-decoration:none;
color:black;
}
h2 a
{
text-decoration:none;
color:black;
}
h2 a:hover
{
  color: #666666
}
h3 a
{
text-decoration:none;
color:black;
}
h3 a:hover
{
  color: #666666
}
h4 a
{
text-decoration:none;
color:black;
}
h4 a:hover
{
  color: #666666
}

p
{
text-decoration:none;
color:black;
font-family: 'Cousine';
}
p a
{
text-decoration:none;
color:black;
}

  div.a {
    font-family: 'Cousine';
    text-align: center;
    text-decoration: none;
    color: black;

  }

  div.b {
    font-family: 'Cousine';
    text-indent: 300px;
    text-decoration: none;
  }
  f.c {
    font-family: 'Cousine';
  }

  f.a {
    font-size: 130%;
    text-decoration: none;
    font-family: 'Cousine';
  }
  .social-link {
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    text-decoration:none;
  }
  social-link:hover {
    opacity: 0.2;
  }

  .imageContainer {
         width:100%;
         height:650px;
         background-image: url(foggy.png);
   }

  .list{
    text-decoration: none;
    /*font-family: 'Cousine';*/
    font-family: 'Cousine', monospace;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 200px;

  }

  .gap
   {
     padding: 30px 20px;
     color: #666666;
   }

   .bottomright {
     position: absolute;
     bottom: 50px;
     right: 100px;
     font-size: 18px;
   }

table {
  font-family: 'Cousine';
  width: 100%;
  z-index:1;
}

table#scores td {
  font-size: 0.8em;
}

table#scores td a {
  font-size: 1.5em;
}

#projects {
  font-size: 1em;
}
#projects a {
  font-size: 1.5em;
}

td, th {

  text-align: left;
  padding: 4px;
}
th{
  font-size: 110%
}
td a {
  text-decoration: none;
  color: black;
}
td a:hover {
  color: #666666;
}
.video-images
{
  text-align: center;

}
#video-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);
}
#video-modal iframe {
  margin: 100px auto 0 auto;
  display: block;
}
#video-modal.showing {
  display: block;
  left: 0px;
}

#stage {
    width: 600px;
    height: 400px;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    z-index:-1;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  #stage a {
    position: absolute;
  }
  #stage a img {
    padding: 0px;
    background: #fff;
  }

  #stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
  }
  #stage a:nth-of-type(2) {
    z-index: 10;
  }
  #stage a:nth-of-type(n+3) {
    display: none;
  }


  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 48%;
}
