h1{
    text-decoration: none;
    text-align: center;
}

h2 a{
    padding: 0 10px;
}

h3 a{
    background: none;
    border: 2px solid rgb(73, 44, 199);
    border-radius: 5px;
    padding: 2px 5px;
}

a{
    text-decoration: none;
    color: white;
}

h2 a:hover{
    color: rgb(41, 164, 212);
}

h3 a:hover{
    color: rgb(41, 164, 212);
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
}

.media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.a{
    font-size: 133%;
}

.cartai{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px
}

.cartai img{
    max-width: 660px;
}