.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}
.hex .top {
    width: 0;
    border-bottom: 30px solid rgb(13, 5, 124);
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex .middle {
    width: 104px;
    height: 60px;
    background: rgb(13, 5, 124);
    text-align: center;
    color: rgb(0, 217, 255);
}

.hex .bottom {
    width: 0;
    border-top: 30px solid rgb(13, 5, 124);
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex-row {
    clear: left;
    margin-left: 53px;
}
.hex-row.even {
    margin-left: 0px;
}

.hex:hover{
   background: rgb(212, 17, 202);
}

#wind table tr:first-child td {
    font-weight: bold;
    background-color: rgb(120, 158, 201);
}

#wind table{
    text-decoration: none;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}
/* 
#wind tr{
    background-color: rgb(160, 181, 206);
} */

#wind th{
    font-size: 133%;
}

#wind td{
    padding-top: 50px;
}

a{
    font-size: 120%;
}

#wind a:hover {
    text-shadow: 2px 1px 3px rgb(169, 57, 235);
    color: blue;
  }

h1 a:hover {
    color: blue;
    text-shadow: 2px 1px 3px rgb(169, 57, 235);
  }